body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

.page-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 768px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0px 0px 30px 0px rgba(0, 1, 1, 0.2);
  overflow: hidden;
}

a {
  text-decoration: none;
}

.main-header {
  margin: 0 6%;
  padding: 0;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  color: #000000;
  background-color: #ffffff;
}

.main-header-logo {
  position: absolute;
}

.main-header-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  padding: 15px 0 16px;
  margin: 0;
  list-style: none;
}

.main-header-menu li {
  width: 25%;
}

.main-header-menu li:nth-child(2) {
  margin-right: 9%;
}

.main-header-menu li:nth-child(3),
.main-header-menu li:last-child {
  text-align: right;
}

.main-header-menu li:last-child {
  margin-left: 0.2%;
}

.main-header-menu a {
  color: #000000;
}

.main-header-menu a:hover,
.main-header-menu a:focus {
  color: #81b3d2;
}

.main-header-menu a:active {
  color: #000000;
  opacity: 0.3;
}

.main-header-menu-current a {
  color: #766357;
}

.intro-container {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
  align-items: center;
}

.main-content-banner {
  min-height: 508px;
  text-align: center;
  width: 100%;
  margin: auto;
  background-image:
       url("../img/main-banner-mask.png"),
       url("../img/main-banner-back.jpg");
  background-size: 100% 58px, 100%;
  background-position: center bottom, center 28%;
  background-repeat: no-repeat;
  background-color: #2c3e45;
}

.main-content-banner img {
  padding-top: 77px;
}

.main-content-intro {
 width: 570px;
 margin: 0 auto;
 padding: 0;
}

.main-content-intro-title {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  margin: 0;
  padding: 0;
  padding-top: 60px;
  padding-bottom: 30px;
}

.main-content-intro-tеxt {
  color: #333333;
  font-weight: 400;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 54px;
}

.features {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.feature-item,
.feature-item-other {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  min-height: 256px;
}

.feature-extra {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  min-height: 331px;
}

.feature-item-text,
.feature-extra-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33.4%;
  text-align: center;
}

.feature-item-picture {
  width: 66.7%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.feature-item-picture1 {
  background-image: url("../img/feature-first.jpg");
  background-color: #fbcbbf;
}

.feature-item-picture2 {
  background-image: url("../img/feature-second.jpg");
  background-color: #e9b8a1;
  order: -1;
}

.feature-item-text h3,
.feature-extra-item h3 {
  font-size: 21px;
  line-height: 21px;
}

.feature-item-text h3,
.feature-item-text p,
.feature-extra-item h3,
.feature-extra-item p,
.feature-extra-item img {
  margin: 0;
  padding: 0;
}

.feature-item-text span,
.feature-item-text p,
.feature-extra-item p {
  color: #333333;
  line-height: 21px;
  font-weight: 400;
  padding-left: 14.45%;
  padding-right: 14.45%;
}

.feature-item-text h3 {
  padding: 48px 31% 24px 31%;
}

.feature-extra-item h3 {
  padding-bottom: 24px;
}

.feature-bridge h3 {
  padding-left: 20%;
  padding-right: 20%;
}

.feature-item-text p {
  padding-top: 22px;
}

.feature-bridge p {
  padding-left: 12%;
  padding-right: 12%;
}

.feature-item-text-other p {
  padding-left: 15%;
  padding-right: 15%;
}

.feature-item-text-other:nth-child(3) p {
  padding-left: 18%;
  padding-right: 18%;
}

.feature-extra-item img {
  padding-top: 60px;
  padding-bottom: 29px;
}

.feature-item-text-white {
  color: #ffffff;
  background-color: #81b3d2;
}

.feature-item-text-white span,
.feature-item-text-white p {
  color: #ffffff;
}

.feature-item-other {
  background-color: #eeeeee;
}

.search-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 292px;
  margin: 0;
  padding: 0;
  padding-top: 50px;
}

.search-section-container {
  text-align: center;
}

.search-section p {
  color: #333333;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  margin: 0;
  padding: 0;
}

.search-section .search-section-title {
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  margin-bottom: 25px;
}

.search-section .button-brown {
  margin-top: 50px;
}

.button {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  border: none;
}

.search-section-button {
  font-size: 21px;
  line-height: 26px;
}

.search-section-button[type="button"] {
  width: 568px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.search-section-button[type="submit"] {
  width: 458px;
  padding-top: 16px;
  padding-bottom: 17px;
  margin-top: 55px;

}
.button-brown {
  background-color: #766357;
}

.button-brown:hover,
.button-brown:focus {
  background-color: #604e43;
}

.button-brown:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.button-blue {
  background-color: #81b3d2;
}

.button-blue:hover,
.button-blue:focus {
  background-color: #669ec0;
}

.button-blue:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.filter-button {
  line-height: 21px;
  font-weight: 400;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.filter-button:hover,
.filter-button:focus {
  color: #000000;
  background-color: #ffffff;
}

.hotel-button {
  padding: 5px 0;
}

.search-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 568px;
  min-height: 395px;
  margin-bottom: -395px;
  background-color: #ffffff;
}

.search-form input[type="text"] {
  font: inherit;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: none;
}

.search-form input:hover {
  background-color: #ebebeb;
}

.search-form input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.date-field-container {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.date-field-container:first-child {
  margin-top: 55px;
}

.people-amount-container,
.people-amount-field-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.people-amount-container {
  margin-top: 30px;
}

.date-field-label {
  margin-right: 17px;
  padding-top: 6px;
}

.people-amount-field-label {
  margin-right: 40px;
}

.child-amount-label {
  margin-right: 26px;
  margin-left: 50px;
}

.date-field {
  width: 283px;
  padding: 6px 15px;
}

.date-field-icon {
  background-color: #f2f2f2;
  border: none;
}

.date-field-icon:hover path,
.date-field-icon:focus path {
  fill: #000000;
}

.date-field-icon:active path {
  fill: #81b3d2;
}

.people-amount {
  display: flex;
  flex-direction: row;
}

.people-amount-field {
  width: 39px;
  text-align: center;
  padding-top: 6px;
  padding-bottom: 6px;
}

.people-amount-button {
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  color: #a9a9a9;
  width: 38px;
  text-align: center;
  background-color: #f2f2f2;
  border: none;
}

.people-amount-button:hover,
.people-amount-button:focus {
  color: #000000;
}

.people-amount-button:active {
  color: #81b3d2;
}

.main-content-map {
  width: 100%;
  min-height: 593px;
  background-image: url("../img/map.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: -121px;
  margin-top: -46px;
}

.filters {
  min-height: 218px;
  width: 100%;
  background-image: url("../img/filter-back.jpg");
  background-color: #4f5a61;
  background-size: cover;
  background-position: center 15%;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

.filters-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding-left: 5.85%;
  padding-right: 6%;
}

.filters-form-container {
  display: flex;
  flex-direction: row;
}

.filters-form-item {
  border: none;
  padding: 0;
}

.filters-form-item-title,
.hotel-cost-title {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.filters-form-item ul {
  list-style: none;
}

.filter-option {
  font-weight: 400;
  line-height: 21px;
  color: #ffffff;
}

.hotel-cost label,
.hotel-cost input[type="text"] {
  font-weight: 400;
  line-height: 21px;
  color: #ffffff;
}

.hotel-cost input[type="text"] {
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.results-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 87px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  background-color: #fefefe;
  margin: 0;
  padding-left: 6%;
  padding-right: 6.08%;
}

.results-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 535px;
}

.results-switch {
  width: 100%;
  text-align: right;
}

.results-amount {
  width: 164px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.results-sorting {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.results-sorting-title {
  margin-left: 30px;
}

.results-sorting-active {
  color: #81b3d2;
}

.results-sorting-inactive {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

.results-sorting-inactive:hover,
.results-sorting-inactive:focus {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}

.results-sorting-inactive:active {
  color: #000000;
  border: none;
}

.hotels-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fefefe;
  margin: 0;
  padding: 0;
  padding-left: 6.08%;
  padding-right: 6.08%;
  border: 1px solid #f2f2f2;
}

.hotels-list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 152px;
}

.hotel-name {
  font-size: 21px;
  color: #000000;
}

.hotels-list-item img {
  width: 134;
  height: 90;
}

.hotel-description-container {
  width: 535px;
  min-height: 90px;
  margin-left: 31px;
}

.hotel-description-container h3 {
  padding: 0;
  margin: 0;
}

.hotels-list-item-rating {
  width: 100%;
  text-align: right;
  padding-top: 64px;
}

.hotel-name:hover,
.hotel-name:focus {
  color: #81b3d2;
}

.hotel-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-description {
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.hotel-rating-info {
  line-height: 21px;
  font-weight: 400;
  color: #666666;
  text-align: center;
  background-color: #f2f2f2;
  vertical-align: bottom;
}

.main-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(249, 251, 246, 0.9);
}

.inner-footer {
  background-color: #fefefe;
}

.footer-sedona-tag {
  font-size: 21px;
}

.footer-social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 150px;
  text-align: center;
  list-style: none;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  margin-top: 20px;
  margin-bottom: 20px;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.social-button:active path {
  fill: #88b6d1;
  opacity: 0.3;
}

.footer-copyright {
  font-weight: 400;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
