body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

.page-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 768px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 1, 1, 0.2);
          box-shadow: 0px 0px 30px 0px rgba(0, 1, 1, 0.2);
  overflow: hidden;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-header {
  position: relative;
  margin: 0;
  padding: 0 6%;
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
  color: #000000;
  background-color: #ffffff;
}

.main-header-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-69px);
}

.main-header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 15px 0 16px;
  margin: 0;
  list-style: none;
}

.main-header-menu li {
  width: 22.75%;
}

.main-header-menu li:nth-child(4n+2) {
  margin-right: 4.5%;
}

.main-header-menu li:nth-child(4n+3) {
  margin-left: 4.5%;
}

.main-header-menu li:nth-child(4n+3),
.main-header-menu li:nth-child(4n+4) {
  text-align: right;
}

.main-header-menu a {
  color: #000000;
}

.main-header-menu a:hover,
.main-header-menu a:focus {
  color: #81b3d2;
}

.main-header-menu a:active {
  color: #000000;
  opacity: 0.3;
}

.main-header-menu-current a,
.main-header-menu-current a:hover {
  color: #766357;
}

.intro-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content-banner {
  min-height: 508px;
  text-align: center;
  width: 100%;
  margin: auto;
  background-image:
       url("../img/main-banner-mask.png"),
       url("../img/main-banner-back.jpg");
  background-size: 100% 58px, 100%;
  background-position: center bottom, center 28%;
  background-repeat: no-repeat;
  background-color: #2c3e45;
}

.main-content-banner img {
  padding-top: 75px;
}

.main-content-intro {
 width: 570px;
 margin: 0 auto;
 padding: 0;
}

.main-content-intro-title {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  margin: 0;
  padding: 0;
  padding-top: 60px;
  padding-bottom: 26px;
}

.main-content-intro-tеxt {
  color: #333333;
  font-weight: 400;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 51px;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feature-item,
.feature-item-other {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  min-height: 256px;
}

.feature-extra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-height: 330px;
}

.feature-item-text,
.feature-extra-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 33.4%;
  text-align: center;
  padding-bottom: 35px;
}

.feature-item-picture {
  width: 66.7%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.feature-item-picture1 {
  background-image: url("../img/feature-first.jpg");
  background-color: #fbcbbf;
}

.feature-item-picture2 {
  background-image: url("../img/feature-second.jpg");
  background-color: #e9b8a1;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.feature-item-text h3,
.feature-extra-item h3 {
  font-size: 21px;
  line-height: 21px;
  max-width: 100%;
  -webkit-box-sizing: border-box;
         box-sizing: border-box;
}

.feature-item-text h3,
.feature-item-text p,
.feature-extra-item h3,
.feature-extra-item p,
.feature-extra-item img {
  margin: 0;
  padding: 0;
}

.feature-item-text span,
.feature-item-text p,
.feature-extra-item p {
  color: #333333;
  line-height: 21px;
  font-weight: 400;
  max-width: 71.55%;
  padding-left: 14%;
  padding-right: 14.45%;
}

.feature-item-text h3 {
  padding: 48px 28% 23px 28%;
}

.feature-extra-item h3 {
  padding-bottom: 24px;
  padding-top: 29px;
}

.feature-bridge h3 {
  padding-left: 20%;
  padding-right: 20%;
}

.feature-item-text p {
  padding-top: 22px;
}

.feature-bridge p {
  max-width: 80%;
  padding-left: 0;
  padding-right: 0;
}

.feature-item-text-other p {
  padding-left: 15%;
  padding-right: 15%;
}

.feature-item-text-other:nth-child(3) p {
  padding-left: 18%;
  padding-right: 18%;
}

.feature-item-text-other:nth-child(3) h3 {
  padding-left: 30%;
  padding-right: 30%;
}

.feature-extra-item img {
  padding-top: 59px;
}

.feature-extra-item:nth-child(3) img {
  padding-top: 56px;
}

.feature-item-text-white {
  color: #ffffff;
  background-color: #81b3d2;
}

.feature-item-text-white span,
.feature-item-text-white p {
  color: #ffffff;
}

.feature-item-other {
  background-color: #eeeeee;
}

.search-section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 291px;
  margin: 0;
  padding: 0;
}

.search-section-container {
  text-align: center;
}

.search-section p {
  color: #333333;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  margin: 0;
  padding: 0;
}

.search-section .search-section-title {
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  margin-bottom: 25px;
  margin-top: 50px;
}

.search-section .button-brown {
  margin-top: 46px;
}

.button {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  border: none;
}

.search-section-button {
  font-size: 21px;
  line-height: 26px;
}

.search-section-button[type="button"] {
  width: 568px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.search-section-button[type="submit"] {
  width: 458px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-top: 25px;
}

.button-brown {
  background-color: #766357;
}

.button-brown:hover,
.button-brown:focus {
  background-color: #604e43;
}

.button-brown:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.button-blue {
  background-color: #81b3d2;
}

.button-blue:hover,
.button-blue:focus {
  background-color: #669ec0;
}

.button-blue:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.filter-button {
  display: block;
  margin: 0 26%;
  padding: 6px 34px;
  line-height: 21px;
  font-weight: 400;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
  color: #000000;
  background-color: #ffffff;
}

.main-content-map {
  width: 100%;
  min-height: 593px;
  background-image: url("../img/map.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #e9e5dc;
  margin-bottom: -120px;
}

.modal {
  color: #000000;
  background-color: #ffffff;
}

.modal-search-form {
  position: absolute;
  bottom: -394px;
  left: 50%;
  min-height: 284px;
  transform: translateX(-284px);
  padding: 55px;
  width: 458px;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 1, 1, 0.2);
          box-shadow: 0px 0px 30px 0px rgba(0, 1, 1, 0.2);
}

.search-form > div {
  margin-bottom: 29px;
}

.search-form input[type="text"] {
  width: 346px;
  padding: 6px 13px;
  font: inherit;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.search-form input.date-field {
  padding-right: 40px;
}

.search-form input:hover {
  background-color: #ebebeb;
}

.search-form input:focus {
  background-color: #ffffff;
  outline: 2px solid #e5e5e5;
}

.date-field-container {
  position: relative;
}

.search-form label {
  display: inline-block;
  width: 98px;
  margin-top: 5px;
  margin-right: 10px;
  vertical-align: top;
}

.date-field-icon {
  position: absolute;
  top: 6.5px;
  right: 3px;
  background-color: transparent;
  border: none;
}

.date-field-icon:hover path,
.date-field-icon:focus path {
  fill: #000000;
}

.date-field-icon:active path {
  fill: #81b3d2;
}

.search-form input.people-amount-field {
  width: 37px;
}

.people-amount-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.people-amount-field-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.people-amount-field-container label {
  width: 85px;
  margin-top: 6px;
  margin-right: 27px;
}

.people-amount-field-container .child-amount-label {
  text-align: right;
}

.people-amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.people-amount-button {
  width: 38px;
  margin: 0;
  font: inherit;
  font-size: 22px;
  line-height: 26px;
  min-height: 38px;
  color: #a9a9a9;
  background-color: #f2f2f2;
  border: none;
}

.people-amount-button:hover,
.people-amount-button:focus {
  color: #000000;
}

.people-amount-button:active {
  color: #81b3d2;
}

.filters {
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: url("../img/filter-back.jpg");
  background-color: #4f5a61;
  background-size: cover;
  background-position: center 15%;
  background-repeat: no-repeat;
}

.filters-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 217px;
  padding-left: 5.85%;
  padding-right: 6%;
}

.filters-form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 69%;
  margin-top: 3px;
  margin-right: 4%;
}

.filters-form-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border: none;
  padding: 0;
}

.filters-form-item:first-child {
  margin-right: 16.5%;
}

.filters-form-item-title,
.hotel-cost-title {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.filters-form-item-title {
  margin-bottom: 24px;
  padding-top: 19px;
}

.filters-form-item ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-option {
  position: relative;
  font-weight: 400;
  line-height: 21px;
  color: #ffffff;
  margin-bottom: 25px;
  padding-left: 40px;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: 0px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}

.filter-input-checkbox:checked + label::before {
  background-image: url("../img/checkbox-on.svg");
}

.filter-input-checkbox:checked:disabled + label::before{
  background-image: url("../img/checkbox-on-disable.svg");
}

.filter-input-checkbox:disabled + label::before{
  background-image: url("../img/checkbox-off-disable.svg");
}

.filter-input-checkbox:focus + label::before{
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.hotel-cost-container {
  width: 31%;

  margin-bottom: 9px;
  margin-top: 3px;
}

.hotel-cost-title {
  margin-bottom: 9px;
  font-weight: 600;
}

.price-controls {
  position: relative;
  height: 32px;
  margin-bottom: 19px;
  margin-top: 10px;
  padding: 0;
  text-align: center;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  width: 34%;
  padding: 0;
  font-size: 14px;
  line-height: 30px;
  vertical-align: top;
  color: #ffffff;
  font-weight: 400;
  cursor: pointer;
}

.price-controls .max-price,
.price-controls .min-price  {
  padding-left: 13%;
}

.price-controls input {
  width: 56%;
  margin: 0;
  color: inherit;
  font: inherit;
  font-weight: 400;
  line-height: 21px;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 31px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.results-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 85px;
  min-height: 86px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  background-color: #fefefe;
  margin: 0;
  padding-left: 6%;
  padding-right: 6.08%;
}

.results-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 535px;
  min-width: 535px;
}

.results-switch {
  width: 100%;
  text-align: right;
}

.results-amount {
  width: 156px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.results-sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 280px;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.results-sorting li {
  margin-left: 35px;
}
.results-sorting-title {
  margin-left: 10px;
}

.results-sorting-active {
  color: #81b3d2;
}

.results-sorting-inactive {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

.results-sorting-inactive:hover,
.results-sorting-inactive:focus {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}

.results-sorting-inactive:active {
  color: #000000;
  border: none;
}

.results-switch-item:first-child {
  margin-right: 8px;
}

.results-switch-item:hover polyline,
.results-switch-item:hover polygon {
  fill: #231f20;
}

.results-switch-item:active polyline,
.results-switch-item:active polygon {
  fill: #81b3d2;
}

.results-switch .current:hover polyline,
.results-switch .current:hover polygon {
  fill: #81b3d2;
}

.hotels-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fefefe;
  margin: 0;
  padding: 0;
  border-top: 1px solid #e5e5e5;
}

.hotels-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 150px;
  padding-left: 6.08%;
  padding-right: 6.08%;
  padding-top: 29px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e5e5e5;
  -webkit-box-sizing: border-box;
         box-sizing: border-box;
}

.hotels-list-item:first-child {
  padding-top: 27px;
}

.hotels-list-item img {
  width: 135px;
  min-width: 135px;
  height: 93px;
}

.hotel-description-container {
  width: 700px;
  min-height: 90px;
  margin-left: 30px;
}

.hotel-description-container h3 {
  font-size: 21px;
  margin: 0;
  padding: 0;
  margin-top: -5px;
}

.hotel-name {
  color: #000000;
}

.hotel-name:hover,
.hotel-name:focus {
  color: #81b3d2;
}

.hotel-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 220px;
  margin-top: 7px;
  margin-bottom: 13px;
}

.hotel-description {
  width: 100%;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.hotel-description:first-child {
 margin-right: 10px;
}

.hotel-button {
  padding: 4px 17px 5px 16px;
  margin-right: 2px;
  margin-top: 8px;
}

.hotel-button:nth-child(2) {
  padding-left: 17px;
}

.hotels-list-item-rating {
  width: 100%;
  text-align: right;
  padding-top: 55px;
}

.hotel-rating-info {
  position: relative;
  line-height: 21px;
  font-weight: 400;
  color: #666666;
  text-align: center;
  background-color: #f2f2f2;
  padding: 4px 12px 5px 15px;
  vertical-align: bottom;
}

.hotel-rating-info::before {
  content: "";
  position: absolute;
  top: -64px;
  right: 0px;
  width: 89px;
  height: 17px;
  background-image: url("../img/icon-star.svg");
  background-repeat: space;
}

.hotel-rating-info-desert::before {
  width: 65px;
}

.hotel-rating-info-villas::before {
  width: 41px;
}

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(249, 251, 246, 0.9);
  padding-left: 11%;
  padding-right: 8.5%;
  min-height: 120px;
}

.inner-footer {
  background-color: #fefefe;
}

.footer-sedona-tag {
  font-size: 21px;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 150px;
  text-align: center;
  list-style: none;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  margin-top: 20px;
  margin-bottom: 20px;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.social-button:active path {
  fill: #88b6d1;
  opacity: 0.3;
}

.footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  padding: 0;
  margin: 0;
  margin-left: 12px;
}

.footer-copyright a {
  width: 121px;
  height: 53px;
  margin-top: 10px;
}

.footer-copyright a:hover path,
.footer-copyright a:focus path {
  fill: #81b3d2;
}

.footer-copyright a:active path {
  fill: #bdbbbc;
}

.footer-copyright svg {
 margin-left: 8px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
